/* 通用效果 */
h3,ul,p,table,body{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
}
/* 公用样式 */
.fl{
    float: left;
}
.fr{
    float: right;
}
.cb{
    clear: both;
}
a{
    text-decoration: none;
    color:#fff;
}
/* 编写导航条样式 */
#nav{
    width: 100%;
    background-color: #555;
    color:#fff;
    margin-bottom:20px;
}
#nav .con{
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
    border:solid 0px red;
    height: 80px;
    line-height: 80px;
}
#nav .con .log{
    float: left;
    font-size: 28px;
    margin-right:100px;
}
#nav .con ul{
    float: left;
    overflow: hidden;
}
#nav .con ul li{
    float: left;
    width: 80px;
    text-align: center;
    margin-right:20px;
}
#nav .con .act{
    float: right;
}
#nav .con .act a{
    margin-right:10px;
}
/* 编写一个获取焦点的前景色 */
#nav .focus{
    color:aqua
}
/* 编写第一屏的样式 */
#layer1{
    margin-top:20px;
    width: 1140px;
    margin: 0 auto;
    border:solid 0px red;
    overflow: hidden;
}
#layer1 .lleft{
    width: 752px;
    margin-right: 23px;
    float: left;
}
#layer1 .lleft .swipe{
    position: relative;
}
#layer1 #imgleft,#layer1 #imgright{
    position: absolute;
    top:50%;
    margin-top:-21px;
    cursor: pointer;
}
#layer1 #imgright{
    right: 0;
}
#layer1 .lright{
    float: right;
    width: 365px;
}
#layer1 .lright .box:nth-child(2){
    margin-top:16px;
}
#layer1 .lright .box{
    position: relative;
}
#layer1 .lright .box .title,#layer1 .lright .box p{
    position: absolute;
}
#layer1 .lright .box .title{
    top:5px;
    left:5px;
    background-color: #555;
    color:#fff;
    padding: 5px;
}
#layer1 .lright .box p{
    bottom:0;
    left:0;
    padding-left:20px;
    width: 345px;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
}
/* 登录页面的样式 */
#bg{
    position: fixed;
    opacity: 0.3;
}
#log{
    width: 600px;
    height: 450px;
    border:solid 0px red;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    left:50%;
    top:15%;
    margin-left:-300px;
}