* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


.header {
    height: 42px;
    /*background-color: palegoldenrod;*/
    /*此处会层叠w中的margin*/
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    /*background-color: purple;*/
}

.nav {
    float: left;
    margin-left: 60px;
    /*height: 25px;*/
}

.nav li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    background-color: skyblue;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    padding-left: 15px;
}

.search button {
    border: 0;
    width: 50px;
    height: 42px;
    /*background-color: blue;*/
    background: url("images/btn.png");
}

.user {
    margin-right: 30px;
    line-height: 42px;
    float: right;
    font-size: 14px;
}

/*banner区域*/
.banner {
    height: 421px;
    background: #1c036c;
}

.banner .w {
    height: 421px;
    background: url("images/banner2_20190819_210028.png") no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 421px;
    background: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: white;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.subnav ul li a span {
    float: right;
}

.course {
    margin-top: 50px;
    float: right;
    width: 230px;
    height: 310px;
    background-color: white;
}

.course h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: white;
}

.bd {
    padding: 0 20px;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    margin-top: 5px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: bold;
}

/*精品推荐模块*/
.goods {
    height: 60px;
    background-color: white;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul li {
    float: left;

}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    border-left: 1px solid #666666;
}

.mod {
    margin-right: 30px;
    float: right;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;

}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;

}

.box-hd a {
    margin-right: 30px;
    margin-top: 10px;
    float: right;
    font-size: 12px;
    color: #a5a5a5;
}

.box-bd ul {
    border: 2px red solid;
    width: 1225px;
}

.box-bd ul li {

    position: relative;
    float: left;
    width: 228px;
    height: 270px;
    background-color: pink;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box-bd ul li .hot {
    position: absolute;
    right: -4px;
    top: 5px;
}

.box-bd ul li .img-content {
    width: 100%;
}

.box-bd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: normal;
}

.box-bd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.box-bd .info span {
    color: orange;
}

/*footer区域*/
.footer {
    height: 415px;
    background-color: pink;
}

.footer .w {
    padding-top: 35px;
}

.copyright {
    float: left;
}

.links {
    float: right;
}

.footer .links dl {
    float: right;
    margin-left: 100px;
    font-size: 20px;
}

.footer .links dt {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer .links dd {
    margin-bottom: 10px;
    font-size: 12px;
}

