.w {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81623;
}

header .logo {
    padding-top: 18px;
}

.registerarea {
    border: 1px solid #cccccc;
    height: 522px;
    margin-top: 20px;
}

.registerarea h3 {
    height: 42px;
    border-bottom: 1px solid #cccccc;
    background-color: #ebebeb;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
}

.login {
    float: right;
    font-size: 14px;
}

.reg_form {
    width: 600px;
    /*background-color: pink;*/
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #cccccc;
}

.error {
    color: red;
}

.error_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url("../images/error.png") no-repeat;
    margin-top: -2px;
}

.success {
    color: #008800;
}

.success_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url("../images/success.png") no-repeat;
    margin-top: -2px;
}

.save {
    padding-left: 157px;
}

.save em {
    margin-left: 3px;
    color: #ebebeb;
    padding: 0 12px;
}

.save em:nth-child(1) {
    margin-left: 10px;
    background: red;
}

.save em:nth-child(2) {
    background: blue;
}

.save em:nth-child(3) {
    background: green;
}

.agree {
    padding-left: 100px;
}

.agree input {
    /*display: block;*/
    vertical-align: middle;
}

.agree a {
    color: #00a4ff;
}

.btn {
    margin: 30px 0 0 70px;
    width: 200px;
    height: 34px;
    background-color: red;
    font-size: 14px;
    color: white;

}