/*清空浏览器默认元素值*/
*{
    margin: 0;
    padding: 0;
}

/*设置页面样式字体*/
body{
    background-color: #F2F2F0;
    font-size: 13px;
}
/*消除列别元素默认样式*/
ul{
    list-style-type: none;
}
/*清除超级链接下划线*/
a{
    text-decoration: none;
    color: #E8F5EC;
}
/*焦点颜色的样式定义*/
.focus{
    color: #B8EAEE !important;
}
/*全局广告图片样式*/
.adimg{
    margin: 75px auto 20px;
    width: 100%;
}
.adimg>img{
    width: 100%;
}

/*编写导航条样式*/
#nav{
    width: 100%;
    position: fixed;
    border: solid 1px red;
    top: 0;
    left: 0;
    background-color: #555555;
}

#nav>.box{
    padding: 24px 0;
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
    border: white 0 solid;
}

#nav>.box>.title{
    margin-right:70px ;
    float: left;

}

#nav>.box>.list{
    float: left;
}

#nav>.box>.list>ul{
    float: left;
}

#nav>.box>.list>ul>li{
    float: left;
    margin-right: 30px;
    color: #E8F5EC;
}

#nav>.box>.a1{
    float: right;
}

#nav>.box>.a1>a{
    margin-right: 10px;
}

#nav>.box>.title>h3{
    color: #B8EAEE;
    font-size: 20px;
}

/*////////                  登录                  ///////////////*/
/*登陆页面样式*/
#login>img{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;//设置元素透明度0~1
}

/*登陆弹框的样式*/
#log{
    position: absolute;
    width: 410px;
    height: 375px;
    /*border: solid 1px red;*/
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 999;
    background-color: white;
    border-radius:10px;
    box-shadow: 3px 3px 5px #666;
}

#log>.title{
    text-align: center;
    padding: 20px 0 60px 0;
    border-bottom: solid 1px #cccccc;
}

#log>.title>h3{
    font-size: 24px;
}

#log>.tip{
    margin: 32px 0 10px 28px;
}

#log>.item{
    margin-top: 8px;
}

#log>.item>input{
    width: 280px;
    margin-left: 28px;
    padding: 8px;
    border-radius: 3px;
    /*除掉选中线*/
    outline: none;
    /*border: solid 1px #cccccc;*/
}

#log>.error{
    margin: 10px 28px;
    color: red;
    display: none;
}

#log>.btn{
    margin-top: 20px;
}

#log>.btn>input{
    margin-left:28px;
    width: 70px;
    padding: 8px 0;
    border: none;
    border-radius: 3px;
}

#log>.btn>input:hover{
    background-color: #666666;
    color: white;
}

/*///////////////////////////  列表页样式/////////////////////////*/

#list,#pics{
    width: 960px;
    margin: 0 auto;
    /*border: #0bcee7 solid 1px;*/
}
/*编写标题样式*/
#list>.top,#pics>.top{
    border-bottom: solid 1px #cccccc;
    overflow: hidden;
}

#list>.top>.tleft,#pics>.top>.tleft{
    float: left;
    background-color: black;
    color: white;
    padding: 10px 15px;
}
#list>.top>.tright,#pics>.top>.tright{
    float: right;
    padding-top: 15px;
}
/*编写列表主题元素*/
#list>.body{
    overflow: hidden;
    border:solid 0 blue;
}

#list>.body>.list{
    float: left;
}

#list>.body>.list>.item{
    border: 0 solid red;
    background-color: white;
    padding: 12px 15px 20px 15px;
    margin-top: 20px;
}

#list>.body>.list>.item>.title{
    margin-bottom:8px ;
}

/*设置选项框的样式*/
#list>.body>.list>.item>.con{
    overflow: hidden;
}
/*设置图片大小*/
#list>.body>.list>.item>.con>.cleft{
    width: 210px;
    float: left;

}

#list>.body>.list>.item>.con>.cright{
    float: left;
    width: 370px;
    padding: 15px 0 15px 15px;
}

#list>.body>.list>.item>.con>.cright>.pbottom{
    margin-top: 26px;
    font-size: 11px;
}

#list>.body>.list>.item>.con>.cleft>img{
    width: 100%;
}

#list>.body>.ad{
    margin-top: 20px;
    float: right;
    padding: 20px 15px;
    background-color: white;
}

#list>.body>.ad>.adtip>.line{
    width: 70px;
    border-bottom: solid 2px black;
}

#list>.body>.ad>.imglist>ul>li{
    width: 275px;
    margin-top: 20px;

}
#list>.body>.ad>.imglist>ul>li>img{
    width: 100%;
}
/*////////////     相册样式(有部分相似的在上面共用)    //////////////*/

#pics>.item{
    float: left;
    border: 0 solid red;
    margin: 20px 6px 20px 6px;

}

#pics>.item>.title{
    height: 45px;
    padding: 10px 15px;
    background-color: white;
}

#pics>.item>.imgs{
    width: 226px;
    height: 150px;
    position: relative;
}

#pics>.item>.imgs>img{
    width: 100%;
    height: 100%;
}

#pics>.item>.imgs>.tip{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #cc0138;
    color: white;
    padding:5px;
    border-radius: 3px;
}
